//COLORS
$background-light: #f8f9fa;
$background-dark: #343a40;
$text-light: #f8f9fa;
$text-dark: #343a40;
$primary-color: #cc0000;
$secondary-color: #ffde00;
$tertiary-color: #3b4cca;
// ---
$success-color: #3eb95e;
$danger-color: $primary-color;
$warning-color: $secondary-color;
$info-color: $tertiary-color;
// ---