//COLORS
$background-light: #f8f9fa;
$background-dark: #343a40;
$text-light: #f8f9fa;
$text-dark: #343a40;
$primary-color: #FF1C1C;
$secondary-color: #ffde00;
$tertiary-color: #3b4cca;

$success-color: #3eb95e;
$danger-color: $primary-color;
$warning-color: $secondary-color;
$info-color: $tertiary-color;
// ---

//FONTS
$font-default: 'Roboto', sans-serif;
$font-display: 'pokemon', 'pokemon Fallback';

$font-size-sm: 1.2rem;
$font-size-md: 1.6rem;
$font-size-lg: 2.4rem;
$font-size-xl: 3.6rem;
// ---

//SPACING
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2.5rem;
// ---

//BREAKPOINTS
$breakpoint-sm: 376px;
$breakpoint-md: 769px;
$breakpoint-lg: 993px;
$breakpoint-xl: 1201px;
$breakpoint-xxl: 1921px;
// ---

//Z-INDEX
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 7;
$z-index-8: 8;
$z-index-9: 9;
$z-index-10: 10;
// ---

//BORDER
$border-width-thin: 1px;
$border-width-standard: 3px;
$border-width-thick: 5px;

$border-radius-standard: 0;
$border-radius-rounded: 1rem;
$border-radius-circle: 50%;
// ---

//SHADOWS

// ---

//TRANSITIONS

// ---

// CONTAINERS
$container-max-width: 1200px;
$container-padding: 1rem;
// ---