@use '@/sass/colors.scss' as color;
@use '@/sass/grid.scss' as display;
@use '@/sass/typography.scss' as typo;
@use '@/sass/styling.scss' as style;

.logo {
  pointer-events: none;
  user-select: none;
  @include display.flex();

  [data-heading] {
    &:first-child {
      margin-right: -(display.$spacing-md);
      @include typo.heading($size: '3', $color: color.$primary-color, $font: 'display');
      @include display.z-index('top');
      @include style.text-shadow(color.$secondary-color, 'large');
    }

    &:last-child {
      margin-left: -(display.$spacing-md);
      @include typo.heading($size: '3', $color: color.$secondary-color, $font: 'display');
      @include display.z-index('top');
      @include style.text-shadow(color.$tertiary-color, 'large');
    }
  }
}